.App {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.App div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.App button {
  width: 300px;
  height: 25px;
  margin-top: 15px;
}

.App button:hover {
  cursor: pointer;
}

.App div input {
  width: 300px;
  height: 25px;
  font-size: 20px;
  padding-left: 10px;
}

.menuItem {
  width: 300px;
  height: 50px;
  background-color: rgb(234, 157, 15);
  border-radius: 10px 20px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 40px;
}

h3 {
  width: 300px;
  height: 5px;
  background-color: rgb(247, 224, 180);
  border-radius: 10px 20px;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 20px;
 }